main {
	text-align: center;
	padding: 50px 0px;
}

nav {
	position: static;
}

.entry-card {
	display: inline-block;
	padding: 20px;
	text-align: left;
	width: 50%;
	height: 100%;
	background-color: #6e838a;
}

.entry-card img {
	-o-object-fit: scale-down;
	   object-fit: scale-down;
	width: 70%;
	margin: 20px 0px;
}

.entry-card a {
	color: var(--font-color);
}
