nav {
	background: #1D7874;
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding: px 0px;
}

nav h1 {
	display: inline;
	color: var(--font-color);
	padding: 10px;
}

nav li, nav a {
	display: inline;
	font-weight: bold;
	text-decoration: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	margin: 0px 3px;
}

nav a:hover {
	color: #C6CAED;
}