nav {
	margin: 10px 0px 0px 0px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

@media only screen and (max-width: 386px) {
	nav {
		justify-content: center;
	}

	.navbutton {
		display: none;
	}
}
