@import url("https://fonts.googleapis.com/css2?family=Itim&family=Spartan&display=swap&display=swap");
.home {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.home h1 {
	color: var(--font-color);
	text-align: center;
	font-size: calc(2rem + 2vw);
	padding: 10px;
}
.home h1 i {
	color: var(--secondary-color);
}
.bio {
	color: var(--font-color);
	max-width: 350px;
	margin: 0 auto;
	padding: 10px;
}
.bio span {
	color: var(--secondary-color);
}
.social {
	list-style: none;
	text-align: center;
	font-size: 2rem;
	padding: 10px;
}
.social li,
.social a {
	color: var(--font-color);
	display: inline-block;
	margin: 0px 2px;
}
.social a:hover {
	color: var(--secondary-color);
}
nav {
	list-style: none;
	margin: 10px;
	font-size: 2em;
}
nav li {
	display: inline-block;
	margin: 7px;
}
nav i.fa-dungeon {
	color: #0970ff;
}
nav li.outline {
	/* Thanks to StackOverFlow and Wonder*/
	text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
		1px 1px 0 #000000, -2px 0 0 #000000, 2px 0 0 #000000, 0 2px 0 #000000,
		0 -2px 0 #000000;
}
:root {
	--background-color: #679289;
	--font-color: #eae6e5;
	--secondary-color: #c6caed;
}
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	font-family: "Spartan", arial;
	color: var(--font-color);
	background: var(--background-color);
}
main {
	height: 100%;
	width: 100%;
}
footer {
	background-color: #071e22;
	color: var(--font-color);
	text-align: center;
	padding: 5px;
}
