main {
	text-align: center;
}

nav {
	position: static;
}

.entry-card {
	padding: 20px;
	margin: 5px;
	display: inline-block;
	text-align: left;
	width: 50%;
	background-color: #a47963;
}

.entry-card i {
	display: block;
}

.entry-card img {
	object-fit: scale-down;
	width: 70%;
	margin: 20px 0px;
}

.entry-card a {
	color: var(--font-color);
}
