.home {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.home h1 {
	color: var(--font-color);
	text-align: center;
	font-size: calc(2rem + 2vw);
	padding: 10px;
}
.home h1 i {
	color: var(--secondary-color);
}

.bio {
	color: var(--font-color);
	max-width: 350px;
	margin: 0 auto;
	padding: 10px;
}
.bio span {
	color: var(--secondary-color);
}

.social {
	list-style: none;
	text-align: center;
	font-size: 2rem;
	padding: 10px;
}
.social li, a {
	color: var(--font-color);
	display: inline-block;
	margin: 0px 2px;
}
.social a:hover {
	color: var(--secondary-color);
}