nav {
	list-style: none;
	margin: 10px;
	font-size: 2em;
}

nav li {
	display: inline-block;
	margin: 7px;
}

nav i.fa-dungeon {
	color: #0970ff;
}

nav li.outline {
	/* Thanks to StackOverFlow and Wonder*/
	text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
		1px 1px 0 #000000, -2px 0 0 #000000, 2px 0 0 #000000, 0 2px 0 #000000,
		0 -2px 0 #000000;
}
