.social {
	text-align: center;
	list-style: none;
	margin: 10px;
	font-size: 2em;
}

.social li {
	display: inline-block;
	margin: 7px;
}

.social a {
	text-decoration: none;
}

.social .fa-twitter {
	color: #1da1f2;
}

.social i.fa-github {
	color: #171515;
}

.social i.fa-mug-hot {
	color: #ffb5b0;
}

.social .fa-itch-io {
	color: #fa5c5c;
}

.social .fa-instagram {
	color: #ff6d8d;
}
