@import url("https://fonts.googleapis.com/css2?family=Itim&family=Spartan&display=swap&display=swap");
@import url("./home.css");
@import url("./nav.css");

:root {
	--background-color: #679289;
	--font-color: #eae6e5;
	--secondary-color: #c6caed;
}

* {
	padding: 0px;
	margin: 0px;
}

html,
body {
	height: 100%;
	font-family: "Spartan", arial;
	color: var(--font-color);
	background: var(--background-color);
}

main {
	height: 100%;
	width: 100%;
}

footer {
	background-color: #071e22;
	color: var(--font-color);
	text-align: center;
	padding: 5px;
}
