@import url('https://fonts.googleapis.com/css2?family=Itim&family=Spartan&display=swap&display=swap');

:root {
	--background-color: #679289;
	--font-color: #EAE6E5;
}

* {
	padding: 0px;
	margin: 0px;
}

html, body {
	height: 100%;
	font-family: "Spartan", arial;
	padding: 10px;
	background: var(--background-color);
}

h1 {
	color: var(--font-color);
	text-align: center;
}

/* Bio */

.bio {
	color: var(--font-color);
	max-width: 350px;
	margin: 0 auto;
	padding: 10px;
}