@import url('https://fonts.googleapis.com/css2?family=Itim&family=Spartan&display=swap&display=swap');

:root {
	--background-color: #679289;
	--font-color: #EAE6E5;
	--secondary-color: #C6CAED;
}

* {
	padding: 0px;
	margin: 0px;
}

html, body {
	height: 100%;
	font-family: "Spartan", arial;
	background: var(--background-color);
}

h1 {
	color: var(--font-color);
	text-align: center;
	padding: 10px;
}

h1 i {
	color: var(--secondary-color);
}

main {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* Bio */

.bio {
	color: var(--font-color);
	max-width: 350px;
	margin: 0 auto;
	padding: 10px;
}

.bio span {
	color: var(--secondary-color);
}

/* Social */

.social {
	list-style: none;
	text-align: center;
	font-size: 2rem;
	padding: 10px;
}

.social li, a {
	color: var(--font-color);
	display: inline-block;
	margin: 0px 2px;
}

.social a:hover {
	color: var(--secondary-color);
}

/*Footer*/

footer {
	background-color: #071E22;
	color: var(--font-color);
	text-align: center;
	padding: 5px;
}