<!DOCTYPE html>

<html>
	<head>
		<title>LaJBlog - {{ title }}</title>
		<link rel="stylesheet" href="/styles/styles.css" />
		<link rel="stylesheet" href="/styles/entry.css" />

		{% include "partials/head.njk" %}
	</head>

	<body>
		<header>{% include "partials/nav.njk" %}</header>

		<main class="blog entry">
			<div class="entry-card">
				<h1>{{ title }}</h1>
				<p>
					From <a href="{{ source[1] }}">{{ source[0] }}</a> -
					{{ tdate | join("/") }}
				</p>

				<img src="{{ bannerImage }}" />

				<p>{{ blog | safe }}</p>
			</div>
		</main>

		<footer>
			<p>{{ footer | safe }}</p>
		</footer>
	</body>
</html>
