{% extends "layouts/base.njk" %}

{% block styles %}
	<link rel="stylesheet" href="/styles/avatar.css" />
	<link rel="stylesheet" href="/styles/social.css" />
{% endblock %}

{% block page %}
	<img class="avatar" src="{{ avatar }}"/>
	<p>lajbel#3662 <i class="fa-brands fa-discord"></i></p>
	<p>{{ bio | safe }}</p>
	<ul class="social">{% for social in socials %}<li class="outline">{{ social | safe }}</li>{% endfor %}</ul>
{% endblock %}
