{% extends "layouts/base.njk" %}

{% block styles %}
	<link rel="stylesheet" href="/styles/avatar.css" />
	<link rel="stylesheet" href="/styles/social.css" />
{% endblock %}

{% block page %}
	<img class="avatar" src="{{ avatar }}"/>
	<p onclick="copyDiscord()" class="discord">
        <i class="fa-brands fa-discord"></i> lajbel#3662
    </p>
	<p>{{ bio | safe }}</p>
	<ul class="social">{% for social in socials %}<li class="outline">{{ social | safe }}</li>{% endfor %}</ul>

    <script>
        function copyDiscord() {
            navigator.clipboard.writeText("lajbel#3662");
            alert("Discord Copied");
        }
    </script>
{% endblock %}
