<!DOCTYPE html>

<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="../styles/styles.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
		/>
		<link rel="icon" href="../favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>

	<body>
		<header>{% include "partials/nav.njk" %}</header>

		<main></main>

		<footer>
			<p>{{ footer | safe }}</p>
		</footer>
	</body>
</html>
