{% extends "layouts/base.njk" %}

{% block styles %}
	<link rel="stylesheet" href="/styles/avatar.css" />
	<link rel="stylesheet" href="/styles/social.css" />
{% endblock %}

{% block page %}
	

	<p>Soon tm</p>
{% endblock %}
