<!DOCTYPE html>

<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="./styles.css">
	</head>

	<body>
		<div class="card">
			<h1>{{ name }}</h1>

			<p>{{ bio }}</p>
		</div>
	</body>
</html>