<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<link rel="icon" href="/img/favicon.ico" />

<meta name="title" content="{{ metaTitle }}" />
<meta name="description" content="{{ maetaDescription }}" />
<meta name="theme-color" content="#679289" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta property="og:type" content="website" />
<meta property="og:url" content="https://lajbel.github.io/" />
<meta property="og:title" content="{{ metaTitle }}" />
<meta property="og:description" content="{{ metaDescription }}" />
<meta property="og:image" content="{{ metaImage }}" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://lajbel.github.io/" />
<meta property="twitter:title" content="{{ metaTitle }}" />
<meta property="twitter:description" content="{{ metaDescription }}" />
<meta property="twitter:image" content="{{ metaImage }}" />
