<nav>
	<h1>LaJSite</h1>

	<ul class="sections">
		<a href="/">Home</a>
		<a href="/portfolio">Portfolio</a>
		<a href="/blog/devlog-0">Blog</a>
		<a href="https://github.com/lajbel/lajbel.github.io">Repos</a>
	</ul>
</nav>
