<nav>
	<h2> The LaJSite </h2>

	<ul>
		<li><a href="/" > home > </a></li>
		<li><a href="/portfolio" > portfolio (wip) > </a></li>
		<li><a href="https://lajbel.newgrounds.com/news" target="_blank" > blog > </a></li>
		<li><a href="https://peerlist.io/lajbel" target="_blank" > work profile > </a></li>
	</ul>
</nav>
